/* this stylesheet is specific to collect screen */

#collect h1 {
  font-size: 2rem;
}

.collect-head h2 {
  font-size: 1.5rem;
  color: #1d718b;
}
.collect-head p {
  font-size: 0.9rem;
}

.collect-head {
  border-bottom: 1px solid #dfdfdf;
}

/* RADIO BUTTONS stylings---- we have two radio buttons */

.mode-radio .radio-contain {
  display: flex;
  align-items: center;
  position: relative;
}
.mode-radio input[type="radio"] {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.mode-radio .radio-contain label {
  font-size: 0.94rem;
}
.mode-radio #mode-radio-view:checked ~ label {
  color: var(--color-primary);
}
.mode-radio #mode-radio-edit:checked ~ label {
  color: #c89509;
}

/* the results grid and its stylings */
.collect-main .results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* the input in the model component DonorEditModel */
.donor-edit-modal {
  width: 600px;
}
.donor-add {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  flex-grow: 1;
  font-size: 0.9rem;
}
.donor-add p.invalid-msg {
  display: none;
}
