/* This stylesheet is specific to /contributors page which shows data about all the users */

/* the head */
.users-head {
  border-bottom: 1px solid #ededed;
}

/* The checkboxes (radio button) stylings */
.checkbox-contain {
  position: relative;
}
.checkbox-contain .radio {
  width: 12px;
  height: 12px;
  border: 1.4px solid var(--color-primary);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox-contain input[type="radio"] {
  position: relative;
  z-index: 10;
  opacity: 0;
  margin-right: 3px;
}

.checkbox-contain input[type="radio"]:checked + .radio {
  background-color: var(--color-primary);
  border-color: #00000000;
}

#contributors .results {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 14px;
  justify-content: stretch;
}

/* cont cards */

.cont-card .head {
  border-bottom: 1px solid #ededed;
}
