/* This is the main stylesheet */
/* Global Media queris are also included */

/* font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");

:root {
  /* configurations: consult the xd document */
  --main-width: 1200px;
  --sec-width: 800px;
  --small-width: 520px;

  /* colors: keep away */
  --color-primary: #2686a3;
  --color-complementary: #00ebdb;
  --color-dark: #565656;
  --color-success: #00cb4c;
  --color-warn: #ff3939;
  --color-user: #dbbb74;
  --color-rupee: #66aa80;

  /* custom configurations */
  --recent-card-height: 70vh;
  --recent-card-head-height: 10vh;
}

/* body and internal styles */
body {
  font-family: "Roboto", sans-serif;
  /* overflow-x: hidden; */
}

/* navlink which is active */
a.active {
  color: var(--color-complementary);
}

/* inputs place holder  */
input::placeholder {
  font-size: 14px;
  font-style: italic;
}

/* buttons and their annoying focus outlines*/
button:focus,
input[type="text"]:focus {
  outline: none !important;
}

/* buttons to get smaal on active */
button:active {
  transform: scale(0.98);
}
/* utility classes */

/* logo */
.logo {
  letter-spacing: 0.1rem;
}

/* containers */
.w-main {
  max-width: var(--main-width);
}
.w-sec {
  max-width: var(--sec-width);
}
.w-small {
  max-width: var(--small-width);
}
.w-hard-small {
  width: var(--small-width);
}

/* backgrounds */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-user {
  background-color: var(--color-user);
}

.bg-rupee {
  background-color: var(--color-rupee);
}

/* foregrounds */
.text-dark {
  color: var(--color-dark);
}
.text-user {
  color: var(--color-user);
}
.text-rupee {
  color: var(--color-rupee);
}
.text-success {
  color: var(--color-success);
}

.text-primary {
  color: var(--color-primary);
}

/* for forms hiding the arrow buttons in number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* the global formgroup component */
.form-group input {
  transition-property: background-color, border-color, color;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

@media screen and (max-width: 440px) {
  #root > main {
    padding-left: 8px;
    padding-right: 8px;
  }
}
